<style>
    .box{
        display: flex;
        flex-flow:  row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .box-column {
        -webkit-flex: 1;
        flex: 1;
    }
</style>
<div class="box">
    <div class="box-column">
        <label> [value] / [keyup]</label>
        <input type="text" #namez [value]="name" (keyup)="update(namez.value)">
    </div>
    <div class="box-column">
        <label>String interpolation</label>
        <p> {{ namez.value }}</p>
    </div>
    <div class="box-column">
        <label> [value]</label>
        <input type="text" [value]="name">
    </div>
</div>
